:root {
  /* Got these colors directly from the stackline website */
  --stackline-blue: #46a8f6;
  --neutral-800: #193765;
  --background-light-grey: #f6f9fc;
  --sub-font: #68778e;
  --border-grey: #eeeeee;
}

body {
  margin: 0;
  background-color: var(--background-light-grey);

  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

#site-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  background-color: var(--neutral-800);
  color: white;

  padding: 24px 24px;
}

#site-icon {
  filter: brightness(100);
  height: 32px;
  cursor: pointer;
}

/* Supporting a mobile layout, just in case */
@media only screen and (min-width: 900px) {
  body #product-dashboard {
    flex-direction: row;
    align-items: normal;
  }
}

#product-dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 24px;

  padding: 48px 24px;
}

#product-dashboard .product-dashboard--widgets {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  gap: 24px;

  min-width: 0;
  width: 100%;
}

#product-dashboard .product-overview {
  text-align: center;
  width: 300px;
}

#product-dashboard .product-overview img {
  height: auto;
  max-width: 60%;
}

#product-dashboard .product-overview h1 {
  font-weight: 600;
  font-size: 20px;

  margin: 0;
}

#product-dashboard .product-overview p {
  font-weight: 300;
  font-size: 14px;
  color: var(--sub-font);
}

.tags-list {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  column-gap: 8px;
  row-gap: 10px;

  border-top: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
}

#product-dashboard .card .product-overview .tags-list {
  margin-left: -16px;
  padding: 1em 16px;
}

.tag {
  font-size: 14px;
  font-weight: 300;
  
  border: 1px solid var(--border-grey);
  border-radius: 4px;

  padding: 2px 16px;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 20px -3px rgba(0,0,0,0.1);
  border-radius: 2px;

  padding: 16px;
}

.widget table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--border-grey);
}

th, td {
  font-size: 14px;
  padding: 20px 2px;
}

th {
  text-align: left;
  font-weight: 400;
}

td {
  color: var(--sub-font);
  font-weight: 200;
}